In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from sklearn.preprocessing import MinMaxScaler, StandardScaler

import matplotlib.pyplot as plt

df = pd.read_excel('hepatitis.xlsx',  na_values="?")
df

,#,Age,Sex,Steroid,Antivirals,Fatique,Malaise,Anorexia,Liver Big,Liver Firm,...,Speiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology,CLASS
0,1,30,yes,no,yes,yes,yes,yes,no,yes,...,yes,yes,yes,1.0,85.0,18.0,4.0,NaN,no,Live
1,2,50,no,no,yes,no,yes,yes,no,yes,...,yes,yes,yes,0.9,135.0,42.0,3.5,NaN,no,Live
2,3,78,no,yes,yes,no,yes,yes,yes,yes,...,yes,yes,yes,0.7,96.0,32.0,4.0,NaN,no,Live
3,4,31,no,NaN,no,yes,yes,yes,yes,yes,...,yes,yes,yes,0.7,46.0,52.0,4.0,80.0,no,Live
4,5,34,no,yes,yes,yes,yes,yes,yes,yes,...,yes,yes,yes,1.0,NaN,200.0,4.0,NaN,no,Live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,151,46,no,yes,yes,no,no,no,yes,yes,...,no,no,no,7.6,NaN,242.0,3.3,50.0,yes,Die
151,152,44,no,yes,yes,no,yes,yes,yes,no,...,yes,yes,yes,0.9,126.0,142.0,4.3,NaN,yes,Live
152,153,61,no,no,yes,no,no,yes,no,no,...,no,yes,yes,0.8,75.0,20.0,4.1,NaN,yes,Live
153,154,53,yes,no,yes,no,yes,yes,yes,yes,...,no,yes,no,1.5,81.0,19.0,4.1,48.0,yes,Live
154,155,43,no,yes,yes,no,yes,yes,yes,yes,...,no,no,yes,1.2,100.0,19.0,3.1,42.0,yes,Die

In [5]:
# Input
x = df.drop(columns=['#','CLASS'])
x

,Age,Sex,Steroid,Antivirals,Fatique,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Speiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,30,yes,no,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,1.0,85.0,18.0,4.0,NaN,no
1,50,no,no,yes,no,yes,yes,no,yes,yes,yes,yes,yes,0.9,135.0,42.0,3.5,NaN,no
2,78,no,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,0.7,96.0,32.0,4.0,NaN,no
3,31,no,NaN,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.7,46.0,52.0,4.0,80.0,no
4,34,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,200.0,4.0,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,no,yes,yes,no,no,no,yes,yes,yes,no,no,no,7.6,NaN,242.0,3.3,50.0,yes
151,44,no,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.9,126.0,142.0,4.3,NaN,yes
152,61,no,no,yes,no,no,yes,no,no,yes,no,yes,yes,0.8,75.0,20.0,4.1,NaN,yes
153,53,yes,no,yes,no,yes,yes,yes,yes,no,no,yes,no,1.5,81.0,19.0,4.1,48.0,yes
154,43,no,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,1.2,100.0,19.0,3.1,42.0,yes

In [6]:
# Change "?" To Dominant in 1 Column

x['Steroid'].fillna(df.groupby('CLASS')['Steroid'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Fatique'].fillna(df.groupby('CLASS')['Fatique'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Malaise'].fillna(df.groupby('CLASS')['Malaise'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Anorexia'].fillna(df.groupby('CLASS')['Anorexia'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Liver Big'].fillna(df.groupby('CLASS')['Liver Big'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Liver Firm'].fillna(df.groupby('CLASS')['Liver Firm'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Spleen Palpable'].fillna(df.groupby('CLASS')['Spleen Palpable'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Speiders'].fillna(df.groupby('CLASS')['Speiders'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Ascites'].fillna(df.groupby('CLASS')['Ascites'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x['Varices'].fillna(df.groupby('CLASS')['Varices'].transform(lambda x: pd.Series.mode(x)[0]), inplace = True)
x

,Age,Sex,Steroid,Antivirals,Fatique,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Speiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,30,yes,no,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,1.0,85.0,18.0,4.0,NaN,no
1,50,no,no,yes,no,yes,yes,no,yes,yes,yes,yes,yes,0.9,135.0,42.0,3.5,NaN,no
2,78,no,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,0.7,96.0,32.0,4.0,NaN,no
3,31,no,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.7,46.0,52.0,4.0,80.0,no
4,34,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,200.0,4.0,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,no,yes,yes,no,no,no,yes,yes,yes,no,no,no,7.6,NaN,242.0,3.3,50.0,yes
151,44,no,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.9,126.0,142.0,4.3,NaN,yes
152,61,no,no,yes,no,no,yes,no,no,yes,no,yes,yes,0.8,75.0,20.0,4.1,NaN,yes
153,53,yes,no,yes,no,yes,yes,yes,yes,no,no,yes,no,1.5,81.0,19.0,4.1,48.0,yes
154,43,no,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,1.2,100.0,19.0,3.1,42.0,yes

In [7]:
x = x.replace(to_replace = ['yes','no'],value = ['1','0'])
x

,Age,Sex,Steroid,Antivirals,Fatique,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Speiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,30,1,0,1,1,1,1,0,1,1,1,1,1,1.0,85.0,18.0,4.0,NaN,0
1,50,0,0,1,0,1,1,0,1,1,1,1,1,0.9,135.0,42.0,3.5,NaN,0
2,78,0,1,1,0,1,1,1,1,1,1,1,1,0.7,96.0,32.0,4.0,NaN,0
3,31,0,1,0,1,1,1,1,1,1,1,1,1,0.7,46.0,52.0,4.0,80.0,0
4,34,0,1,1,1,1,1,1,1,1,1,1,1,1.0,NaN,200.0,4.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,0,1,1,0,0,0,1,1,1,0,0,0,7.6,NaN,242.0,3.3,50.0,1
151,44,0,1,1,0,1,1,1,0,1,1,1,1,0.9,126.0,142.0,4.3,NaN,1
152,61,0,0,1,0,0,1,0,0,1,0,1,1,0.8,75.0,20.0,4.1,NaN,1
153,53,1,0,1,0,1,1,1,1,0,0,1,0,1.5,81.0,19.0,4.1,48.0,1
154,43,0,1,1,0,1,1,1,1,0,0,0,1,1.2,100.0,19.0,3.1,42.0,1

In [8]:
x["Bilirubin"] = x["Bilirubin"].fillna(df.groupby('CLASS')['Bilirubin'].transform('mean'))
x["Alk Phosphate"] = x["Alk Phosphate"].fillna(df.groupby('CLASS')['Alk Phosphate'].transform('mean'))
x["SGOT"] = x["SGOT"].fillna(df.groupby('CLASS')['SGOT'].transform('mean'))
x["Albumin"] = x["Albumin"].fillna(df.groupby('CLASS')['Albumin'].transform('mean'))
x["Protime"] = x["Protime"].fillna(df.groupby('CLASS')['Protime'].transform('mean'))
x

,Age,Sex,Steroid,Antivirals,Fatique,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Speiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,30,1,0,1,1,1,1,0,1,1,1,1,1,1.0,85.000000,18.0,4.0,66.571429,0
1,50,0,0,1,0,1,1,0,1,1,1,1,1,0.9,135.000000,42.0,3.5,66.571429,0
2,78,0,1,1,0,1,1,1,1,1,1,1,1,0.7,96.000000,32.0,4.0,66.571429,0
3,31,0,1,0,1,1,1,1,1,1,1,1,1,0.7,46.000000,52.0,4.0,80.000000,0
4,34,0,1,1,1,1,1,1,1,1,1,1,1,1.0,101.313725,200.0,4.0,66.571429,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,0,1,1,0,0,0,1,1,1,0,0,0,7.6,122.375000,242.0,3.3,50.000000,1
151,44,0,1,1,0,1,1,1,0,1,1,1,1,0.9,126.000000,142.0,4.3,66.571429,1
152,61,0,0,1,0,0,1,0,0,1,0,1,1,0.8,75.000000,20.0,4.1,66.571429,1
153,53,1,0,1,0,1,1,1,1,0,0,1,0,1.5,81.000000,19.0,4.1,48.000000,1
154,43,0,1,1,0,1,1,1,1,0,0,0,1,1.2,100.000000,19.0,3.1,42.000000,1

In [9]:
# Output
y = df['CLASS']
y

0      Live
1      Live
2      Live
3      Live
4      Live
       ...
150     Die
151    Live
152    Live
153    Live
154     Die
Name: CLASS, Length: 155, dtype: object

In [10]:
# Input Testing

x2 = df.drop(columns=['#','CLASS'])
x2 = x2.replace(to_replace = ['yes','no'],value = ['1','0'])
x2

,Age,Sex,Steroid,Antivirals,Fatique,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Speiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,30,1,0,1,1,1,1,0,1,1,1,1,1,1.0,85.0,18.0,4.0,NaN,0
1,50,0,0,1,0,1,1,0,1,1,1,1,1,0.9,135.0,42.0,3.5,NaN,0
2,78,0,1,1,0,1,1,1,1,1,1,1,1,0.7,96.0,32.0,4.0,NaN,0
3,31,0,NaN,0,1,1,1,1,1,1,1,1,1,0.7,46.0,52.0,4.0,80.0,0
4,34,0,1,1,1,1,1,1,1,1,1,1,1,1.0,NaN,200.0,4.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,0,1,1,0,0,0,1,1,1,0,0,0,7.6,NaN,242.0,3.3,50.0,1
151,44,0,1,1,0,1,1,1,0,1,1,1,1,0.9,126.0,142.0,4.3,NaN,1
152,61,0,0,1,0,0,1,0,0,1,0,1,1,0.8,75.0,20.0,4.1,NaN,1
153,53,1,0,1,0,1,1,1,1,0,0,1,0,1.5,81.0,19.0,4.1,48.0,1
154,43,0,1,1,0,1,1,1,1,0,0,0,1,1.2,100.0,19.0,3.1,42.0,1

In [11]:
# Output Testing

y2 = df['CLASS']
y2

0      Live
1      Live
2      Live
3      Live
4      Live
       ...
150     Die
151    Live
152    Live
153    Live
154     Die
Name: CLASS, Length: 155, dtype: object

In [12]:
# NORMALIZE (Minmax "0-1", Z-Szore, Sigmoid)
print("==> NORMALIZE <==")

==> NORMALIZE <==

In [13]:
# Minmax "0-1"
print("======> MINMAX <======")

minmax_scaler = MinMaxScaler()

print(x[:1])
print("==> X ", "=="*25)
x_minmax = minmax_scaler.fit_transform(x)
x_minmax = pd.DataFrame(x_minmax)
print(x_minmax.head())

print(x2[:1])
print("==> X2 ", "=="*25)
x2_minmax = minmax_scaler.fit_transform(x2)
x2_minmax = pd.DataFrame(x2_minmax)
print(x2_minmax.head())

======> MINMAX <======
   Age Sex Steroid Antivirals Fatique Malaise Anorexia Liver Big Liver Firm  \
0   30   1       0          1       1       1        1         0          1

  Spleen Palpable Speiders Ascites Varices  Bilirubin  Alk Phosphate  SGOT  \
0               1        1       1       1        1.0           85.0  18.0

   Albumin    Protime Histology
0      4.0  66.571429         0
==> X  ==================================================
         0    1    2    3    4    5    6    7    8    9    10   11   12  \
0  0.323944  1.0  0.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
1  0.605634  0.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
2  1.000000  0.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3  0.338028  0.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4  0.380282  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

         13        14        15        16        17   18
0  0.090909  0.219331  0.006309  0.441860  0.665714  0.0
1  0.077922  0.405204  0.044164  0.325581  0.665714  0.0
2  0.051948  0.260223  0.028391  0.441860  0.665714  0.0
3  0.051948  0.074349  0.059937  0.441860  0.800000  0.0
4  0.090909  0.279977  0.293375  0.441860  0.665714  0.0
   Age Sex Steroid Antivirals Fatique Malaise Anorexia Liver Big Liver Firm  \
0   30   1       0          1       1       1        1         0          1

  Spleen Palpable Speiders Ascites Varices  Bilirubin  Alk Phosphate  SGOT  \
0               1        1       1       1        1.0           85.0  18.0

   Albumin  Protime Histology
0      4.0      NaN         0
==> X2  ==================================================
         0    1    2    3    4    5    6    7    8    9    10   11   12  \
0  0.323944  1.0  0.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
1  0.605634  0.0  0.0  1.0  0.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
2  1.000000  0.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3  0.338028  0.0  NaN  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4  0.380282  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

         13        14        15        16   17   18
0  0.090909  0.219331  0.006309  0.441860  NaN  0.0
1  0.077922  0.405204  0.044164  0.325581  NaN  0.0
2  0.051948  0.260223  0.028391  0.441860  NaN  0.0
3  0.051948  0.074349  0.059937  0.441860  0.8  0.0
4  0.090909       NaN  0.293375  0.441860  NaN  0.0

In [14]:
loo = LeaveOneOut()

true_y, pred_y = list(), list()
true_y, pred_y

i = 0
for train_index, test_index in loo.split(x_minmax):
    train_x, test_x = x_minmax.iloc[train_index, :], x2_minmax.iloc[test_index, :]
    i+=1
    
    train_y, test_y = y.iloc[train_index], y2.iloc[test_index]

    nan_values = test_x.isna()
    nan_columns = nan_values.any()
    
    columns_with_nan = test_x.columns[nan_columns].tolist()

    train_x = train_x.drop(columns_with_nan,axis = 1)
    test_x = test_x.dropna(axis='columns')

    #KNN Classifier
    classifier = KNeighborsClassifier(n_neighbors=3)
    classifier.fit(train_x, train_y)

    # evaluate model
    yhat = classifier.predict(test_x)
    yhatt=yhat.tolist()
    test_yy=test_y.tolist()

    # store
    true_y.append(test_yy[0])
    pred_y.append(yhatt[0])

acc = accuracy_score(true_y, pred_y)
acc = acc*100
error = 100-acc
print(pred_y)
print('Accuracy: %.3f' % acc)
print('Error: %.3f' % error)

print(classification_report(true_y, pred_y))

['Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Die', 'Die', 'Live', 'Die', 'Die', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Die', 'Live', 'Die', 'Die', 'Live', 'Die', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Die', 'Die', 'Die', 'Die', 'Live', 'Die', 'Die', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Live', 'Die', 'Die', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Die']
Accuracy: 82.581
Error: 17.419
              precision    recall  f1-score   support

         Die       0.58      0.56      0.57        32
        Live       0.89      0.89      0.89       123

    accuracy                           0.83       155
   macro avg       0.73      0.73      0.73       155
weighted avg       0.82      0.83      0.82       155

In [15]:
# Z-Score / Standard Scaler
print("======> Z-SCORE / Standard Scaler <======")

zscore_scaler = StandardScaler()

print(x[:1])
print("==> X ", "=="*25)
zscore_scaler.fit(x)
zscore_scaler.mean_
x_zscore = zscore_scaler.transform(x)
x_zscore = pd.DataFrame(x_zscore)
print(x_zscore.head(1))
print("==> X.head(1) ", "||"*25)

print()
print(x2[:1])
print("==> X2 ", "=="*25)
zscore_scaler.fit(x2)
zscore_scaler.mean_
x2_zscore = zscore_scaler.transform(x2)
x2_zscore = pd.DataFrame(x2_zscore)
print(x2_zscore.head(1))
print("==> X.head(1) ", "||"*25)

======> Z-SCORE / Standard Scaler <======
   Age Sex Steroid Antivirals Fatique Malaise Anorexia Liver Big Liver Firm  \
0   30   1       0          1       1       1        1         0          1

  Spleen Palpable Speiders Ascites Varices  Bilirubin  Alk Phosphate  SGOT  \
0               1        1       1       1        1.0           85.0  18.0

   Albumin    Protime Histology
0      4.0  66.571429         0
==> X  ==================================================
         0         1         2         3         4         5         6   \
0 -0.894192  2.947457 -1.019546  0.428026  1.367615  0.805566  0.510061

         7         8         9         10      11        12        13  \
0 -2.280351  0.794719  0.489898  0.710531  0.3849  0.362473 -0.364625

         14        15        16        17        18
0 -0.444917 -0.771237  0.307205  0.261512 -0.907485
==> X.head(1)  ||||||||||||||||||||||||||||||||||||||||||||||||||

   Age Sex Steroid Antivirals Fatique Malaise Anorexia Liver Big Liver Firm  \
0   30   1       0          1       1       1        1         0          1

  Spleen Palpable Speiders Ascites Varices  Bilirubin  Alk Phosphate  SGOT  \
0               1        1       1       1        1.0           85.0  18.0

   Albumin  Protime Histology
0      4.0      NaN         0
==> X2  ==================================================
         0         1         2         3         4         5         6   \
0 -0.894192  2.947457 -1.013072  0.428026  1.360828  0.809885  0.512148

        7         8    9         10        11        12        13        14  \
0 -2.19089  0.845154  0.5  0.717741  0.392232  0.369274 -0.353883 -0.396181

         15        16  17        18
0 -0.759836  0.281486 NaN -0.907485
==> X.head(1)  ||||||||||||||||||||||||||||||||||||||||||||||||||

In [16]:
loo = LeaveOneOut()

true_y, pred_y = list(), list()
true_y, pred_y

i = 0
for train_index, test_index in loo.split(x_zscore):
    train_x, test_x = x_zscore.iloc[train_index, :], x2_zscore.iloc[test_index, :]
    i+=1
    
    train_y, test_y = y.iloc[train_index], y2.iloc[test_index]

    nan_values = test_x.isna()
    nan_columns = nan_values.any()
    
    columns_with_nan = test_x.columns[nan_columns].tolist()

    train_x = train_x.drop(columns_with_nan,axis = 1)
    test_x = test_x.dropna(axis='columns')

    #KNN Classifier
    classifier = KNeighborsClassifier(n_neighbors=3)
    classifier.fit(train_x, train_y)

    # evaluate model
    yhat = classifier.predict(test_x)
    yhatt=yhat.tolist()
    test_yy=test_y.tolist()

    # store
    true_y.append(test_yy[0])
    pred_y.append(yhatt[0])

acc = accuracy_score(true_y, pred_y)
acc = acc*100
error = 100-acc
print(pred_y)
print('Accuracy: %.3f' % acc)
print('Error: %.3f' % error)

print(classification_report(true_y, pred_y))

['Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Die', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Live', 'Live', 'Die', 'Die', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Die', 'Die', 'Die', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Die', 'Live', 'Die', 'Die', 'Live', 'Die', 'Live', 'Live', 'Live', 'Live', 'Live', 'Live', 'Die', 'Live', 'Live', 'Live', 'Die']
Accuracy: 84.516
Error: 15.484
              precision    recall  f1-score   support

         Die       0.65      0.53      0.59        32
        Live       0.88      0.93      0.90       123

    accuracy                           0.85       155
   macro avg       0.77      0.73      0.75       155
weighted avg       0.84      0.85      0.84       155

In [33]:
# Sigmoid
print("======> SIGMOID <======")

def sigmoid(x):
  return 1 / (1 + np.exp(-x))

x_sigmoid = sigmoid(x)
#x_sigmoid = np.array(x)
print(x_sigmoid)
#x_sigmoid = 1 / (1 + np.exp(x_sigmoid))
#print(x_sigmoid)

======> SIGMOID <======

TypeError: bad operand type for unary -: 'str'

In [28]:
# Sigmoid
print("======> SIGMOID <======")

std = x.std()
mean = x.mean()
#Z-Score
x_sigmoid2 = (1-np.exp(x))/(1+np.exp(x))

======> SIGMOID <======

TypeError: loop of ufunc does not support argument 0 of type int which has no callable exp method

In [34]:
#%%
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsClassifier
from math import sqrt
from sklearn import model_selection
from sklearn.model_selection import LeaveOneOut
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler

data = pd.read_excel("hepatitis_new.xlsx", header=None)
data.drop(0, inplace=True, axis=1)
data.drop(0, inplace=True, axis=0)
data.columns = data.iloc[0] 
data.drop(1, inplace=True, axis=0)
data.columns = [c.replace(' ', '_') for c in data.columns]
# %%
data = data.replace(to_replace=['no', 'yes'], value=[0, 1])
data.CLASS = data.CLASS.replace(to_replace=['Live', 'Die'], value=[1, 0])
data = data.replace(to_replace=['?'], value=np.nan)
data = data.reset_index()
data = data.drop(columns=['index'])
X_temp = data.drop(columns=['CLASS']).values
y = data['CLASS'].values


#Fill NaN 
X = data.groupby("CLASS").transform(lambda x: x.fillna(x.mean()))
column = X.columns

#minmax
# min = 0
# max = 1
# minData = X.min()
# maxData = X.max()
# data_std = (X - X.min()) / (X.max()- X.min())
# X = data_std * (max - min) + min

std = X.std()
mean = X.mean()
#Zscore
x = (X-mean)/std

#Sigmoidal data train
X = (1-np.exp(-x))/(1+np.exp(-x))
X = X.values

#%%
accuracy_total=[]
error_total=[]
loo = LeaveOneOut()
neigh = KNeighborsClassifier(n_neighbors=3)

#scaler = StandardScaler()
for train_index, test_index in loo.split(X):
    X_train, X_test = X[train_index], X_temp[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    df_test = pd.DataFrame(X_test, columns = column)
    #Minmax
    # stdx = ((o - minData) / (maxData- minData))
    # X_test = stdx * (max - min) + min

    #Z score and Sigmoid (data test)
    x_temp = (df_test-mean)/std
    X_test = (1-np.exp(-x_temp))/(1+np.exp(-x_temp))
    X_test = X_test.values

    #Delete Atribut (NaN)
    t = np.argwhere(np.isnan(X_test))
    if len(t):
        for x_null in reversed(t):
            X_train = np.delete(X_train, x_null[1], 1)
    X_test = X_test[:, ~np.isnan(X_test).any(axis=0)]

    #knn
    neigh.fit(X_train, y_train)
    y_pred = neigh.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    error = 1 - accuracy
    accuracy_total.append(accuracy)
    error_total.append(error)

print("Acc: %.3f%%" % np.mean(accuracy_total))
print("Error: %.3f%%" % np.mean(error_total))



# %%

Acc: 0.826%
Error: 0.174%